@import "./palette";
.App {
  background-color: $backgroundColor;
  height: 100vh;
  color: white;
}

:root {
  font-size: 90%;
  ::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
  }
  ::-webkit-scrollbar-track {
    background: $mainColor;
  }
  ::-webkit-scrollbar-thumb {
    background: $mainLightest;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $mainDarker;
  }
}

button {
  border-radius: 3rem;
  border: none;
  height: 3rem;
  width: 12rem;
  display: block;
  margin: auto;
  cursor: pointer;
  font-size: 1.3rem;
  box-shadow: 3px 3px 7px $grey;
  &:focus {
    outline: none;
  }
}

select {
  border-radius: 10px;
  background-color: white;
  margin: 0.5rem auto;
  &:focus {
    outline: none;
  }
  option {
    &:hover {
      background-color: $mainColor;
    }
  }
}
