@import "../../global/style/palette";

.footerContainer {
  height: 5rem;
  position: absolute;
  bottom: 1rem;
  width: 90%;
  right: 5vw;
  right: 5vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row-reverse wrap;
  align-items: center;
  background: white;
  box-shadow: 8px 8px 10px $grey;
  border-radius: 1rem;
  color: $mainColor;
  font-size: 50px;
}
