@import "../../global/style/backgroundConfig";
@import "../../global/style/palette";
@import "../../global/style/genreCard";

.mainCardContainer {
    @include backgroundConfig();
    span {
        @include genreCard();
    }
    img {
        height: 20vh;
        width: 20vh;
    }
    nav > ul {
        margin-top: 2%;
        display: flex;
        overflow-x: scroll;
        li {
            margin: 4%;
            list-style: none;
            color: black;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
