@import "../../global/style/backgroundConfig";

.signUpContainer {
  @include backgroundConfig();
  display: flex;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-flow: column wrap;
    margin-right: 1rem;
  }
}
